
/build

#I don't want to include data in my git hub. We must download it from the speed dreams repository.
/data/cars
/data/data
/data/drivers
/data/tracks



CMakeCache.txt
CMakeFiles/
GUI/
Makefile
cmake_install.cmake
converters/
tinyxml/
ui_static-J.h
unibatchconv
/lib64
